[Unit]
Description=Sammurai Daily Digest Timer (Work)

[Timer]
OnCalendar=daily
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
